@page "/"
@implements IDisposable
@inject DatabaseManager DBMan;
@inject LocalStorageHandler LocalStorage;
@inject NavigationManager NavMan;

<Navbar></Navbar>

<div class="flex-column justify-center align-center">
    @for (int i = 0; i < 30; i++)
    {
        <button class="MyButton cursor-pointer" @onclick="TestInsertUser">Test InsertUser</button>
    }
</div>

@code{
    public Guid guid = Guid.NewGuid();

    // page opened
    protected override void OnInitialized()
    {
        Global.Logger.LogInformation($"{guid} - Page Opened.");
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    public void TestInsertUser()
    {
        DBMan.OpenConnection();
        User user = new User("Nicktrovert", Hasher.Hash("VeryGoodPassword123!"), "MyMail1@gmail.com", "Nick", "Helmers", new DateOnly(2007, 04, 29));
        DBMan.InsertUser(user);
        DBMan.CloseConnection();
    }

    // page closed
    public void Dispose(){
        Global.Logger.LogInformation($"{guid} - Page Closed");
    }
}