@page "/"
@implements IDisposable
@inject DatabaseManager DBMan;
@inject LocalStorageHandler LocalStorage;
@inject NavigationManager NavMan;
@inject QueryHandler queryParser;

<Navbar></Navbar>

<div class="flex-column justify-center align-center">
    @for (int i = 0; i < 10; i++)
    {
        <button class="MyButton cursor-pointer" style="margin-top: 1vh;" @onclick="TestLocalStorage">Test LocalStorage</button>
        <button class="MyButton cursor-pointer" style="margin-top: 1vh;" @onclick="TestInsertUser">Test InsertUser</button>
        <button class="MyButton cursor-pointer" style="margin-top: 1vh;" @onclick="TestRetrieveUser">Test RetrieveUser</button>
    }
</div>

@code{
    public Guid guid = Guid.NewGuid();

    // page opened
    protected override void OnInitialized()
    {
        Global.Logger.LogInformation($"{guid} - Page Opened.");
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    public void TestLocalStorage()
    {
        LocalStorage.StoreValue<User>(new User("Test52", Hasher.Hash("TESTESTTEST"), "TESTMAIL@MAIL.COM", "TESTFIRST", "TESTLAST", new DateOnly(2000, 01, 23)), "UserTest");

        StateHasChanged();

        //User user = LocalStorage.RetrieveValue<User>("UserTest"); /*<- shit doesn't work*/

        StateHasChanged();

        List<User> users = new List<User>();
        for (int i = 0; i < 41; i++)
        {
            users.Add(new User($"Nicktrovert{i}", Hasher.Hash($"VeryGoodPassword{i}"), $"MyMail{i}@gmail.com", $"Nick{i}", $"Helmers{i}", new DateOnly(2007, 04, 29)));
        }

        LocalStorage.StoreValues<User>(users, "UsersTest");

        StateHasChanged();

        //users = LocalStorage.RetrieveValues<User>("UsersTest").ToList(); /*<- shit doesn't work*/
    }

    public void TestInsertUser()
    {
        DBMan.OpenConnection();
        User user = new User("Nicktrovert", Hasher.Hash("VeryGoodPassword123!"), "MyMail1@gmail.com", "Nick", "Helmers", new DateOnly(2007, 04, 29));
        DBMan.InsertUser(user);
        DBMan.CloseConnection();
    }
    public void TestRetrieveUser()
    {
        DBMan.OpenConnection();
        User user = DBMan.RetrieveUser("Nicktrovert");
        DBMan.CloseConnection();
        Global.Logger.LogInformation($"--Retrieved User--\n       -Username:\"{user.Username}\"\n       -Password:\"{user.HashedPassword}\"\n       -Email:\"{user.Email}\"\n       -Name:\"{user.FirstName} {user.LastName}\"\n       -Birthdate:\"{user.Birthdate.ToString("yyyy-MM-dd")}\"\n       -ActivityState:\"{user.ActivityState.ToString()}\"\n       -LastOnline:\"{user.LastOnline.ToString("yyyy-MM-dd HH:mm:ss")}\"\n");
    }

    // page closed
    public void Dispose(){
        Global.Logger.LogInformation($"{guid} - Page Closed");
    }
}